<link rel="stylesheet" href="/static/navbar.css">

<header class="header">

    <section class="flex">

        <a href="/" class="logo">TUT<span>LERS</span></a>

        <nav class="navbar">
           <a href="#home">home</a>
           <a href="#about">about</a>
           <a href="#course">courses</a>
           
           <a href="#home">reviews</a>
           <a href="#home">contact</a>
        </nav>

        <div class="login-home">
            <a href="/users/sign-in">
                <i class="fa-solid fa-user"></i>
                Log-In</a>
        </div>

        <div id="menu-btn" class="fas fa-bars">

        </div>

    </section>



</header>