<header class="header">

    <section class="flex">

        <a href="#home" class="logo">TUT<span>LERS</span></a>

        <nav class="navbar">
           <a href="#home">home</a>
           <a href="#about">about</a>
           <a href="#home">courses</a>
           <a href="#home">teachers</a>
           <a href="#home">reviews</a>
           <a href="#home">contact</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars">

        </div>

    </section>



</header>