<footer class="footer">

    <section>

      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-youtube"></a>
        
      </div>

      <div class="credit">&copy; copyright @2023 by <span>Tutlers Team</span> | all rights reserved</div>

    </section>

  </footer>