
     <!-- home section starts-->
     
     <section class="home" id="home">
      
        <div class="row">
           
            <div class="content">
                <h3>Learn with <span>Tutlers</span> </h3>
                <h4>Your Language Prof: <br>
                    "Learn a New Language Today!"</h4>
                <a href="#contact" class="btn">Contact </a>
                <a href="#contact" class="btn2">Explore</a>
            </div>


            <div class="image">
                <img src="/static/images/homeImage2.png" alt="">
            </div>


        </div>


     </section>

     <!-- home section ends-->
      


     <!-- counter section starts here-->
     <section class="count">

           <div class="box-container">

              <div class="box">
                <i class="fas fa-graduation-cap"></i>
                <div class="content">
                   <h3>150+</h3>
                   <p>Courses</p>
                </div>
              </div>


              <div class="box">
                <i class="fas fa-user-graduate"></i>
                <div class="content">
                   <h3>1300+</h3>
                   <p>Students</p>
                </div>
              </div>
  
  
              <div class="box">
                  <i class="fas fa-chalkboard-user"></i>
                  <div class="content">
                     <h3>80+</h3>
                     <p>teachers</p>
                  </div>
                </div>
  
              <div class="box">
                  <i class="fas fa-face-smile"></i>
                  <div class="content">
                     <h3>100%</h3>
                     <p>Satisfaction</p>
                  </div>
                </div>

           </div>

           
            

            

     </section>


     <!-- counter section ends here-->
     
     <!-- about section starts-->
     
     <section class="about" id="about">
      

        <div class="row">

            <div class="image">
                <img src="/static/images/aboutImage.png" alt="">
            </div>

            <div class="content">
                <h3>why choose us?</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetr adipisicing elit. Cumque
                    error, aut enim rerum?
                </p>
                <a href="#contact" class="btn">contact us</a>

            </div>

        </div>
     </section>

     <!-- about section starts-->

     <!-- courses section starts-->

    <section class="courses" id="courses">

        <h1 class="heading">Our <span>Courses</span></h1>

            <div class="swiper course-slider">

               <div class="swiper-wrapper">
                   <div class="swiper-slide slide">
                      <img src="/static/images/coursesImage1.png" alt="">
                      <h3>Web Development</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and   
                        since the 1500s,</p>
                   </div>

                   <div class="swiper-slide slide">
                    <img src="/static/images/coursesImage2.jpg" alt="">
                    <h3>Digital Marketing</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and   
                      since the 1500s,</p>
                 </div>

                 <div class="swiper-slide slide">
                    <img src="/static/images/coursesImage4.jpg" alt="">
                    <h3>And. Development</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and 
                      since the 1500s,</p>
                 </div>


                 <div class="swiper-slide slide">
                    <img src="/static/images/coursesImage4.jpg" alt="">
                    <h3>And. Development</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and 
                      since the 1500s,</p>
                 </div>

                 <div class="swiper-slide slide">
                    <img src="/static/images/coursesImage5.avif" alt="">
                    <h3>And. Development</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and 
                      since the 1500s,</p>
                 </div>

                
                 

               </div>
               <div class="swiper-pagination"></div>

            </div>


    </section>


    <!-- courses section ends-->

    
    <!--Reviews section starts-->
 
      <section class="reviews" id="reviews">

         <h1 class="heading"> Student's <span>Reviews</span></h1>

         <div class="swiper reviews-slider">

             <div class="swiper-wrapper">

                  <div class="swiper-slide slide">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                      industry. Lorem Ipsum has been the industry's standard dummy text 
                      ever since the 1500s, 
                      when an unknown printer took a galley of type and scrambled
                    </p>

                    <div class="user">
                       <img src="/static/images/userImage.jpg" alt="">
                       <div class="user-info">
                          <h3>Singh Joy</h3>
                          <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
            
                          </div>
                       </div>
                    </div>
                  </div>


                  <div class="swiper-slide slide">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                      industry. Lorem Ipsum has been the industry's standard dummy text 
                      ever since the 1500s, 
                      when an unknown printer took a galley of type and scrambled
                    </p>

                    <div class="user">
                       <img src="/static/images/userImage.jpg" alt="">
                       <div class="user-info">
                          <h3>Singh Joy</h3>
                          <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
            
                          </div>
                       </div>
                    </div>
                  </div>

                  <div class="swiper-slide slide">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                      industry. Lorem Ipsum has been the industry's standard dummy text 
                      ever since the 1500s, 
                      when an unknown printer took a galley of type and scrambled
                    </p>

                    <div class="user">
                       <img src="/static/images/userImage.jpg" alt="">
                       <div class="user-info">
                          <h3>Singh Joy</h3>
                          <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
            
                          </div>
                       </div>
                    </div>
                  </div>

                  <div class="swiper-slide slide">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                      industry. Lorem Ipsum has been the industry's standard dummy text 
                      ever since the 1500s, 
                      when an unknown printer took a galley of type and scrambled
                    </p>

                    <div class="user">
                       <img src="/static/images/userImage.jpg" alt="">
                       <div class="user-info">
                          <h3>Singh Joy</h3>
                          <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
            
                          </div>
                       </div>
                    </div>
                  </div>

                  <div class="swiper-slide slide">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                      industry. Lorem Ipsum has been the industry's standard dummy text 
                      ever since the 1500s, 
                      when an unknown printer took a galley of type and scrambled
                    </p>

                    <div class="user">
                       <img src="/static/images/userImage.jpg" alt="">
                       <div class="user-info">
                          <h3>Singh Joy</h3>
                          <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
            
                          </div>
                       </div>
                    </div>
                  </div>

                  <div class="swiper-slide slide">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                      industry. Lorem Ipsum has been the industry's standard dummy text 
                      ever since the 1500s, 
                      when an unknown printer took a galley of type and scrambled
                    </p>

                    <div class="user">
                       <img src="/static/images/userImage.jpg" alt="">
                       <div class="user-info">
                          <h3>Singh Joy</h3>
                          <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
            
                          </div>
                       </div>
                    </div>
                  </div>


             </div>
             <div class="swiper-pagination"></div>
         </div>

      </section>


    <!--Reviews section ends-->


    <!--Contacts Section starts-->
      <section class="contact" id="contact">


         <h1 class="heading"><span>Contact</span> us</h1>

         <div class="row">

             <div class="image">
                <img src="/static/images/contactImage.png" alt="">

             </div>
           
             <form action="" method="POST">
               <span>your name</span>
               <input type="text" name="name" placeholder="Enter Name" maxlength="50" class="box" required>
               <span>your email</span>
               <input type="email" name="email" placeholder="Enter Email" maxlength="50" class="box" required>
               <span>your number</span>
               <input type="number" name="number" placeholder="Contact Number" maxl="99999999999" class="box" 
               onkeypress="if(this.value.length == 10) return false; "  required>   
               <span>Select Course</span>
               <select name="courses" class="box" required>
                  <option value="" disabled selected>Select The Course --</option>
                  <option value="web development">web development</option>
                  <option value="web development">web development</option>
                  <option value="web development">web development</option>
                  <option value="web development">web development</option>
                  <option value="web development">web development</option>
                  <option value="web development">web development</option>
               </select>    
               
               <span>Select Gender</span>
               <div class="radio">
                  <input type="radio" name="gender" value="male" id="male">
                  <label for="male">male</label>
                  <input type="radio" name="gender" value="female" id="female">
                  <label for="female">female</label>
               </div>

               <input type="submit" value="send message" class="btn" name="send">



             </form>



         </div>

      </section>

 