<link rel="stylesheet" href="/static/style.css">

<header class="header">

    <section class="flex">

        <a href="/" class="logo">TUT<span>LERS</span></a>

        <nav class="navbar">
           <a href="#home">home</a>
           <a href="#about">about</a>
           <a href="#course">courses</a>
           
           <a href="#home">reviews</a>
           <a href="http://localhost:3456/">contact</a>
        </nav>

        
           
            
                <% if(locals.user){ %>
                    <div class="user-icon">

                        <form action="/users/profile" method="GET">
                            <button class="profile-button">
                                <i class="fa-solid fa-user"></i>
                            <%= user.name %>
                            </button>
                        </form>
                        
                        
                    </div>
                    
                    
                    <div class="login-home">
                        <a href="/users/sign-out">Sign Out</a>
                    </div>
                        
                    
                <% } else{ %>

                    <div class="login-home">
                  
                    <a href="/users/sign-in">
                        <i class="fa-solid fa-user"></i>
                        Log-In</a>

                    </div>

        
                <% } %>
        
            


            
        </div>

        <div id="menu-btn" class="fas fa-bars">

        </div>

    </section>



</header>